*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Syne", sans-serif;
}

:root{
    --bg-color: #121212;
    --text-color: #ffffff;
    --main-color: #b68362;
    --other-color: #8b8a91;
    --alt-color: #4b4b51;
    --ann-color: #c7c6d3;

    --h1-font: 6rem;
    --p-font: 1.1rem;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    padding: 20px 14%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .6s ease;
}

.logo img{
    max-width: 80px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.menulist a{
    display: inline-block;
    font-size: 20px;
    font-weight: 300;
    color: var(--other-color);
    margin: 0 32px;
    transition: all .6s ease;
}

.menulist a:hover{
    color: var(--text-color);
}

.menulist a.active{
    color: var(--text-color);
}



.menu-right{
    display: flex;
    align-items: center;
}

.menu-btn{
    display: inline-block;
    padding: 15px 26px;
    background: linear-gradient(135deg, #e1bac5 0%, var(--main-color) 100%);
    color: var(--bg-color);
    font-size: 20px;
    font-weight: 500;
    border-radius: 13px;
}

.menu-btn:hover{
    background: linear-gradient(135deg, var(--main-color) 0%, #e1bac5 100%);
}

#menu-icon{
    z-index: 10001;
    font-size: 40px;
    margin-left: 25px;
    cursor: pointer;
    display: none;
}

section{
    padding: 0 14%;
}

.hero{
    height: 100vh;
    width: 100%;
    background: url(https://img.freepik.com/free-photo/artistic-blurry-colorful-wallpaper-background_58702-8292.jpg?size=626&ext=jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.hero-text{
    padding-top: 30px;
}

.h-line{
    display: inline-block;
    padding: 10px 14px;
    background: transparent;
    border: 1px solid var(--alt-color);
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--ann-color);
    border-radius: 1.7rem;
    transition: all .6s ease;
}

.h-line:hover{
    color: var(--text-color);
}

.hero-text h1{
    margin: 1px 0;
    font-size: var(--h1-font);
}

.hero-text h1 span{
    background: -webkit-linear-gradient(135deg, #e1bac5 0%, var(--main-color) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-text h4{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 35px;
}

.social-icons a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background: transparent;
    border: 1px solid var(--alt-color);
    border-radius: 1.7rem;
    color: var(--ann-color);
    font-size: 18px;
    margin-right: 12px;
    margin-bottom: 40px;
    transition: all .6s ease;
}

.social-icons a:hover{
    transform: scale(1.06) rotate3d(0, 0, 1, 360deg);
    color: var(--text-color);
}

.h-btn{
    display: flex;
    align-items: center;
}

.btn1{
    display: inline-block;
    padding: 18px 35px;
    background: transparent;
    border: 1px solid var(--alt-color);
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    border-radius: 17px;
    margin-right: 20px;
    transition: all .7s ease;
}

.btn1:hover{
    letter-spacing: 2px;

}

.btn2{
    display: inline-block;
    padding: 18px 35px;
    background: linear-gradient(135deg, #e1bac5 0%, var(--main-color) 100%);;
    color: var(--bg-color);
    font-size: 18px;
    font-weight: 500;
    border-radius: 17px;
    margin-right: 20px;
    transition: all .7s ease;
}

.btn2:hover{
    transform: scale(1.07);
}

.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }

@media(max-width:1600px){
    header{
        padding:15px 6%;
    }
    section{
        padding: 0 6%;
    }
}

@media(max-width:1170px){
    header{
        padding:15px 2%;
    }
    section{
        padding: 0 2%;
    }
    :root{
        --h1-font: 4.2rem;
        --p-font: 1rem;
    }
    .menulist a{
        margin: 0 20px;
    }
    .logo img{
        max-width: 60px;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .menu-btn{
        padding: 10px 20px;
        font-size: 15px;
    }
    .social-icons a{
        width: 40px;
        height: 40px;
    }
    .btn1{
        padding: 11px 2%;
    }
    .btn2{
        padding: 11px 2%;
    }
}

@media(max-width:850px){
    #menu-icon{
        display: block;
    }
    .menulist{
        position: absolute;
        width: 100%;
        height: 1000vh;
        padding: 100px 55px;
        top: 0;
        right: 0;
        left: 100%;
        display: flex;
        flex-direction: column;
        backdrop-filter: blur(35px);
        transition: all .6s ease-in-out;
    }
    .menulist a{
        display: block;
        padding: 0;
        margin: 0px 0px 30px 0px;
        font-size: 2rem;
    }

    .menulist.open{
        left: 0;
    }
}

@media(max-width:640px){
    :root{
        --h1-font:3.2rem;
        --p-font:15px;
    }
}

